
@keyframes appear {
    0%   {opacity: 0%;}
    100% {opacity: 100%;}
  }

#wrapper2 {
    background: #fff;
    border-radius: 2em;
    border: 2px solid #eee;
    position: absolute;
    left: 450px;
    bottom: 300px;
    animation-name: appear;
    animation-duration: 1200ms;
  }

  

  .node {
    fill: #fff;
    stroke: #000;
    stroke-width: 1px;
  }
  
  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
  }

  .label {
      font-family: monospace;

  }
  
  .type {
    font-size: 10px;
    fill: #666;
  }
/*   
  .nullable {
    font-size: 10px;
    fill: #999;
  } */